:root {
  /* Color palette */
  --dark: #262626;
  --light: #f7ffee;
  --primary: #712b75;
  --secondary: #46244c;
  --tertiary: #d49b54;
  --additional: #c74b50;

  /* Fonts */
  --main-font: "Pontano Sans", sans-serif;
  --titles-font: "Silkscreen", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Global */
body {
  font-size: 1.6rem;
  background-color: var(--primary);
  line-height: 1.5;
}

p {
  font-size: 1.6rem;
  font-family: var(--main-font);
  color: var(--light);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 1140px) {
  .container {
    padding: 0;
  }
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--tertiary);
  font-family: var(--titles-font);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 2.5rem 0;
}

/* Footer */
.footer {
  background-color: var(--secondary);
  padding: 1rem 0;
  margin-top: 2.5rem;
}

.footer__text {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

/* Navegation */
.nav {
  background-color: var(--secondary);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  /* gap: 2rem;  no soportada en Safari movil*/
}

.nav__link {
  font-family: var(--titles-font);
  color: var(--light);
  font-size: 2.5rem;
  margin-right: 2rem;
}

.nav__link:last-of-type {
  margin-right: 0;
}

.nav__link--active,
.nav__link:hover {
  color: var(--tertiary);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Products */
.product {
  background-color: var(--secondary);
  padding: 1rem;
}

.product__name {
  font-size: 2rem;
  font-family: var(--titles-font);
}

@media (min-width: 768px) {
  .product__name {
    font-size: 3rem;
  }
}

.product__price {
  font-size: 2.5rem;
  color: var(--tertiary);
}

.product__name,
.product__price {
  text-align: center;
  margin: 0.5rem 0;
  line-height: 1.2;
}

/* Gráficos */
.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}

.grafico--camisas {
  background-image: url(../img/grafico1.jpg);
  /* Para poscionar filas */
  grid-row: 2 / 3;
}

.grafico--modelo {
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
  .grafico--modelo {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/* Nosotros */
.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.nosotros__img {
  grid-row: 1 / 2;
}

@media (min-width: 768px) {
}

@media (min-width: 1140px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .nosotros__img {
    grid-column: 2 / 3;
  }
}

/* Blocks */
.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .blocks {
    grid-template-columns: repeat(4, 1fr);
  }
}
.block {
  text-align: center;
}
.block__title {
  margin: 0;
}

/* Pagina producto */
.shirt {
  padding: 1rem;
}

@media (min-width: 1140px) {
  .shirt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.form__field {
  border-color: var(--secondary);
  border-width: 1rem;
  border-style: solid;
  background-color: rgb(78, 45, 86);;
  color: var(--light);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
  width: 100%;
}

.form__submit {
  background-color: var(--tertiary);
  border: none;
  font-size: 2rem;
  font-family: var(--main-font);
  padding: 2rem;
  transition: background-color 0.5s ease, color 0.5s ease;
  grid-column: 1 / 3;
}
.form__submit:hover {
  cursor: pointer;
  background-color: var(--additional);
  color: var(--light);
}
